<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="views/signup/style.css">
</head>
<body>
    <div id="head">Signup<br><br></div>
    <form action="/signup" method="POST" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="name"><br><br>
        <input type="text" name="username" placeholder="username"><br><br>
        <input type="password" name="password" placeholder="password"><br><br>
        <div id="profiletext">Photo:<input type ="file" name="profilephoto" id="inp" ></div><br><br>
        <input type='submit'>
    </form>
</body>
</html>