body{
    background-color: azure;
    margin: 15%;
}
div{
    text-align: center;
    font-family: 'Lucida Console';
    font-size: 1.5vw;
}
form {
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Lucida console'; 
}

input form{
    font-family: inherit;
    font-size: 1.5vw;
}